.App {
  text-align: center;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  min-height: 96.5vh;
}

.banner {
  height: 30vh;
  display: flex;
  align-items: center;
  background-image: url('https://wallpaperaccess.com/full/124383.jpg');
}

.search-area {
  background-color: rgb(0, 0, 0, .7);
}

footer {
  height: 3.5vh;
}


@media screen and (max-width: 600px) {

  html,
  body {
    font-size: 11px;
    ;
  }

  .banner {
    height: 17vh;
    display: flex;
    align-items: center;
    background-image: url('https://wallpaperaccess.com/full/124383.jpg');
  }
}